<h1>Edición</h1>

<%= render 'form', project: @project, url: programme_project_path(), verb: 'PUT'  %>

<%= link_to 'Editar', programme_project_path(@project.programme.id, @project.id) %> |
<%= link_to 'Volver', programme_projects_path(@project.programme_id) %>
